In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import nibabel as nib

In [ ]:
metadata_attributes_df = pd.read_excel('../datos/otros_labels/Metadata_Attributes.xlsx')
train_label_summary_df = pd.read_excel('../datos/otros_labels/train_label_summary.xlsx')
train_metadata_df = pd.read_csv('../datos/otros_labels/train_metadata.csv')
train_reports_df = pd.read_csv('../datos/otros_labels/train_reports.csv')

In [6]:
metadata_attributes_df.head()

               Attribute                                        Explanation
0             VolumeName                                     The file name.
1           Manufacturer  Manufacturer of the equipment that produced th...
2      SeriesDescription                         Description of the Series.
3  ManufacturerModelName  Manufacturer's model name of the equipment tha...
4             PatientSex                          Sex of the named Patient.

In [ ]:
train_label_summary_df.head()

,Patient ID,Spleen,Kidney R,Kidney L,Gallbladder,Liver,Stomach,Aorta,Inferior vena cava,Portal vein and splenic vein,...,Subcutaneous tissue,Muscle,Abdominal cavity,Thoracic cavity,Bones,Gland structure,Pericardium,Prosthetic breast implant,Mediastinum,Spinal cord
0,train_10000_a_2,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,...,True,True,1.0,1.0,True,1.0,1.0,NaN,1.0,1.0
1,train_10001_a_2,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,True,True,1.0,1.0,True,1.0,1.0,NaN,1.0,1.0
2,train_10002_a_2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,True,True,1.0,1.0,True,1.0,1.0,1.0,1.0,1.0
3,train_10003_a_2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,True,True,1.0,1.0,True,1.0,1.0,1.0,1.0,1.0
4,train_10004_a_2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,True,True,1.0,1.0,True,1.0,1.0,NaN,1.0,1.0

In [8]:
train_metadata_df.head()

,VolumeName,Manufacturer,SeriesDescription,ManufacturerModelName,PatientSex,PatientAge,ReconstructionDiameter,DistanceSourceToDetector,DistanceSourceToPatient,GantryDetectorTilt,...,PhotometricInterpretation,Rows,Columns,XYSpacing,RescaleIntercept,RescaleSlope,RescaleType,NumberofSlices,ZSpacing,StudyDate
0,train_1_a_1.nii.gz,Siemens Healthineers,"Thorax 1,50 Br40 S3",SOMATOM go.All,NaN,049Y,420.303754,983.0,535.0,0,...,MONOCHROME2,512,512,"[0.82090625, 0.82090625]",-8192,1,HU,303,1.00,20220110
1,train_1_a_2.nii.gz,Siemens Healthineers,"Thorax 1,50 Br60 S3",SOMATOM go.All,NaN,049Y,420.303754,983.0,535.0,0,...,MONOCHROME2,512,512,"[0.82090625, 0.82090625]",-8192,1,HU,303,1.00,20220110
2,train_2_a_1.nii.gz,Siemens Healthineers,"Thorax 1,50 Br40 S3",SOMATOM go.All,M,045Y,365.000000,983.0,535.0,0,...,MONOCHROME2,512,512,"[0.712890625, 0.712890625]",-8192,1,HU,306,1.00,20211116
3,train_2_a_2.nii.gz,Siemens Healthineers,"Thorax 1,50 Br60 S3",SOMATOM go.All,M,045Y,365.000000,983.0,535.0,0,...,MONOCHROME2,512,512,"[0.712890625, 0.712890625]",-8192,1,HU,306,1.00,20211116
4,train_3_a_1.nii.gz,Siemens Healthineers,"Thorax 1,50 Bl56 S3",SOMATOM go.All,M,073Y,389.651856,983.0,535.0,0,...,MONOCHROME2,512,512,"[0.7610390625, 0.7610390625]",-8192,1,HU,270,1.25,20220608

In [7]:
train_reports_df.head()

,VolumeName,ClinicalInformation_EN,Technique_EN,Findings_EN,Impressions_EN
0,train_1_a_1.nii.gz,Not given.,Non-contrast images were taken in the axial pl...,Multiple venous collaterals are present in the...,Multiple venous collaterals in the anterior l...
1,train_1_a_2.nii.gz,Not given.,Non-contrast images were taken in the axial pl...,Multiple venous collaterals are present in the...,Multiple venous collaterals in the anterior l...
2,train_2_a_1.nii.gz,Not given.,Non-contrast images were taken in the axial pl...,Trachea and both main bronchi were in the midl...,Emphysematous and passive atelectatic changes...
3,train_2_a_2.nii.gz,Not given.,Non-contrast images were taken in the axial pl...,Trachea and both main bronchi were in the midl...,Emphysematous and passive atelectatic changes...
4,train_3_a_1.nii.gz,Kidney transplant candidate.,Non-contrast images were taken in the axial pl...,Right thyroid lobe sizes increased. Evaluation...,Calcific atheromatous plaques in coronary art...